<h1>Admin Dashboard</h1>
<% productCount = pluralize(@productCount, 'product')%>
<p>You have <%= productCount %> in total.</p>
<% categoryCount = pluralize(@categoryCount, 'category')%>
<p>Your products are from <%= categoryCount %>.</p>